 a {
    color:cornflowerblue;
    text-decoration: none;
    
    }

    h1{ 
    text-align:center;
    font-size:60px;;
    border-bottom: 5px solid grey;;
    padding : 20px;
    margin: 0px;
    }   
    h2{ font-style: italic; color : silver}

    #grid ol{
    border-right: 5px solid grey;
    
    margin: 0px;
    width: 100px;
    padding: 20px;
    }

    #story{ margin: 15px;}
    body{margin: 0px;}

    #grid{
            
            display: grid;
            grid-template-columns: 150px 1fr;
     }

#story{ margin: 15px;}

@media(max-width:600px){
    #grid{
            
            display: block;}
    #grid ol{
            border-right: none;}}